{
  "swagger": "2.0",
  "info": {
    "title": "Audio",
    "description": "This is my audio API for keeping track of audio files I create, and find across the internet. It doesn't store the audio currently, just provides a pointer to where it exists, and some meta data to support.",
    "termsOfService": "http://stack.network/terms-of-service.html",
    "version": "v1"
  },
  "host": "audio.api.kinlane.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/audio/": {
      "get": {
        "summary": "retrieves all audio",
        "description": "pulls all audio, with filter by keyword",
        "operationId": "getAudio",
        "parameters": [
          {
            "name": "appid",
            "in": "query",
            "description": "your appid for accessing the API",
            "required": true,
            "type": "string"
          },
          {
            "name": "appkey",
            "in": "query",
            "description": "your appkey for accessing the API",
            "required": true,
            "type": "string"
          },
          {
            "name": "query",
            "in": "query",
            "description": "a text query to search across audio",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "audio response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/audio"
              }
            }
          }
        },
        "tags": [
          "Audio"
        ],
        "security": [
          {
            "appid": []
          },
          {
            "appkey": []
          }
        ]
      },
      "post": {
        "summary": "add audio",
        "description": "add a new audio",
        "operationId": "addAudio",
        "parameters": [
          {
            "name": "appid",
            "in": "formData",
            "description": "your appid for accessing the API",
            "required": true,
            "type": "string"
          },
          {
            "name": "appkey",
            "in": "formData",
            "description": "your appkey for accessing the API",
            "required": true,
            "type": "string"
          },
          {
            "name": "name",
            "in": "formData",
            "description": "name of the audio",
            "required": true,
            "type": "string"
          },
          {
            "name": "description",
            "in": "formData",
            "description": "description of the audio",
            "required": false,
            "type": "string"
          },
          {
            "name": "url",
            "in": "formData",
            "description": "url of the audio",
            "required": true,
            "type": "string"
          },
          {
            "name": "thumbnailUrl",
            "in": "query",
            "description": "thumbnailUrl of the audio",
            "required": false,
            "type": "string"
          },
          {
            "name": "creator",
            "in": "query",
            "description": "creator of the audio",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "audio response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/audio"
              }
            }
          }
        },
        "tags": [
          "Audio"
        ],
        "security": [
          {
            "appid": []
          },
          {
            "appkey": []
          }
        ]
      }
    },
    "/audio/{audio_id}/tags/": {
      "get": {
        "summary": "retrieve audio tags",
        "description": "Returns the tags for an audio",
        "operationId": "getaudioTags",
        "parameters": [
          {
            "name": "audio_id",
            "in": "path",
            "description": "id for audio",
            "required": true,
            "type": "integer",
            "format": "id"
          },
          {
            "name": "appid",
            "in": "query",
            "description": "your appid for accessing the audio",
            "required": true,
            "type": "string"
          },
          {
            "name": "appkey",
            "in": "query",
            "description": "your appkey for accessing the audio",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "People Tags Response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/tag"
              }
            }
          }
        },
        "tags": [
          "Tags"
        ],
        "security": [
          {
            "appid": []
          },
          {
            "appkey": []
          }
        ]
      },
      "post": {
        "summary": "add tag to audio",
        "description": "add tag for audio",
        "operationId": "addPeopleTag",
        "parameters": [
          {
            "name": "audio_id",
            "in": "path",
            "description": "id for the audio",
            "required": true,
            "type": "integer",
            "format": "id"
          },
          {
            "name": "appid",
            "in": "formData",
            "description": "your appid for accessing the audio",
            "required": true,
            "type": "string"
          },
          {
            "name": "appkey",
            "in": "formData",
            "description": "your appkey for accessing the audio",
            "required": true,
            "type": "string"
          },
          {
            "name": "tag",
            "in": "formData",
            "description": "tag name",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "People Response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/tag"
              }
            }
          }
        },
        "tags": [
          "Tags"
        ],
        "security": [
          {
            "appid": []
          },
          {
            "appkey": []
          }
        ]
      }
    },
    "/audio/{audio_id}/tags/{tag}": {
      "delete": {
        "summary": "delete a audio tag",
        "description": "deletes a tag applied to audio",
        "operationId": "deleteaudioTag",
        "parameters": [
          {
            "name": "audio_id",
            "in": "path",
            "description": "id for the audio",
            "required": true,
            "type": "string"
          },
          {
            "name": "appid",
            "in": "query",
            "description": "your appid for accessing the audio",
            "required": true,
            "type": "string"
          },
          {
            "name": "appkey",
            "in": "query",
            "description": "your appkey for accessing the audio",
            "required": true,
            "type": "string"
          },
          {
            "name": "tag",
            "in": "path",
            "description": "tag to remove from audio",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "People Tag Response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/tag"
              }
            }
          }
        },
        "tags": [
          "Tags"
        ],
        "security": [
          {
            "appid": []
          },
          {
            "appkey": []
          }
        ]
      }
    },
    "/audio/{audio_id}/": {
      "get": {
        "summary": "Retrieve a audio using its ID",
        "description": "Returns the audio detail",
        "operationId": "getAudio",
        "parameters": [
          {
            "name": "audio_id",
            "in": "path",
            "description": "unique id for the audio",
            "required": true,
            "type": "integer"
          },
          {
            "name": "appid",
            "in": "query",
            "description": "your appid for accessing the API",
            "required": true,
            "type": "string"
          },
          {
            "name": "appkey",
            "in": "query",
            "description": "your appkey for accessing the API",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "audio response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/audio"
              }
            }
          }
        },
        "tags": [
          "Audio"
        ],
        "security": [
          {
            "appid": []
          },
          {
            "appkey": []
          }
        ]
      },
      "put": {
        "summary": "update audio",
        "description": "update audio",
        "operationId": "updateAudio",
        "parameters": [
          {
            "name": "audio_id",
            "in": "path",
            "description": "unique id for the audio",
            "required": true,
            "type": "integer"
          },
          {
            "name": "appid",
            "in": "formData",
            "description": "your appid for accessing the API",
            "required": true,
            "type": "string"
          },
          {
            "name": "appkey",
            "in": "formData",
            "description": "your appkey for accessing the API",
            "required": true,
            "type": "string"
          },
          {
            "name": "name",
            "in": "formData",
            "description": "name of the audio",
            "required": true,
            "type": "string"
          },
          {
            "name": "description",
            "in": "formData",
            "description": "description of the audio",
            "required": false,
            "type": "string"
          },
          {
            "name": "url",
            "in": "formData",
            "description": "url of the audio",
            "required": true,
            "type": "string"
          },
          {
            "name": "thumbnailUrl",
            "in": "query",
            "description": "thumbnailUrl of the audio",
            "required": false,
            "type": "string"
          },
          {
            "name": "creator",
            "in": "query",
            "description": "creator of the audio",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "audio response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/audio"
              }
            }
          }
        },
        "tags": [
          "Audio"
        ],
        "security": [
          {
            "appid": []
          },
          {
            "appkey": []
          }
        ]
      },
      "delete": {
        "summary": "delete audio",
        "description": "deletes an audio",
        "operationId": "deleteAudio",
        "parameters": [
          {
            "name": "audio_id",
            "in": "path",
            "description": "unique id for the audio",
            "required": true,
            "type": "integer"
          },
          {
            "name": "appid",
            "in": "query",
            "description": "your appid for accessing the API",
            "required": true,
            "type": "string"
          },
          {
            "name": "appkey",
            "in": "query",
            "description": "your appkey for accessing the API",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "audio response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/audio"
              }
            }
          }
        },
        "tags": [
          "Audio"
        ],
        "security": [
          {
            "appid": []
          },
          {
            "appkey": []
          }
        ]
      }
    }
  },
  "securityDefinitions": {
    "appid": {
      "type": "apiKey",
      "name": "appid",
      "in": "query"
    },
    "appkey": {
      "type": "apiKey",
      "name": "appkey",
      "in": "query"
    }
  },
  "definitions": {
    "audio": {
      "properties": {
        "audio_id": {
          "description": "unique id for the audio",
          "type": "integer"
        },
        "name": {
          "description": "name of the audio",
          "type": "string"
        },
        "description": {
          "description": "description for the audio",
          "type": "string"
        },
        "url": {
          "description": "url for the audio contact",
          "type": "string"
        },
        "thumbnailUrl": {
          "description": "thumbnail url for the audio contact",
          "type": "string"
        },
        "creator": {
          "description": "creator for the audio contact",
          "type": "string"
        }
      }
    },
    "tag": {
      "properties": {
        "tag_id": {
          "description": "id for the tag",
          "type": "integer",
          "format": "id"
        },
        "tag": {
          "description": "text tag",
          "type": "string"
        },
        "api_count": {
          "description": "number of items api with tag",
          "type": "integer"
        }
      }
    }
  }
}